@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

// Rocket
.trail, .rocket-body, .left-wing, .right-wing, .window, .engine {
  animation: offset 2s linear forwards;
}

.trail {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation-delay: 2.3s;
}

.rocket-body {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.left-wing {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: 0.5s;
}

.right-wing {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: 0.5s;
}

.engine {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.window {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: 0.5s;
}

// Abacus
.line1-3, .line1-2, .line1-1, .line2-3, .line2-2, .line2-1, .line2-4, .line3-3, .line3-2, .line3-1, .line4-3, .line4-2, .line4-1, .line4-4, .counter-1, .counter-2, .counter-3, .counter-4, .counter-5, .counter-6, .counter-7, .counter-8, .counter-9, .counter-10, .abacus-body-left, .abacus-body-right, .abacus-body-bottom {
  animation: offset 2s linear forwards;
}

.line1-3, .line1-2, .line1-1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: 0.5s;
}

.line2-4, .line2-3, .line2-2, .line2-1 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 0.5s;
}

.line3-3, .line3-2, .line3-1 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 0.5s;
}

.line4-3, .line4-2, .line4-1, .line4-4 {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 0.5s;
}

.counter-1, .counter-3, .counter-4, .counter-5, .counter-7, .counter-8, .counter-9 {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation-delay: 1s;
}

.counter-2, .counter-6, .counter-10 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-delay: 1.4s;
}

.abacus-body-left {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}

.abacus-body-right {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.abacus-body-bottom {
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
}

// Bridge
