.howdo-article {
  border-bottom: 1px $lightgrey solid;
  margin: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 4rem;

  .heading-large {
    margin-top: 0;
  }
}

.howdo-article:last-of-type {
  border-bottom: none;
}

.article {
  font-size: 1.35rem;
  line-height: 1.6;
}

.wrapper {
  .heading-large {
    margin-top: 0;
  }
}

.section {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center right;
}

.end-article {
  color: $black;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  .copywrite {
    padding-top: 1rem;
    font-size: .75rem;
    align-self: flex-end;
  }

  .end-navigation-options {
    margin: 3rem 0;
  }
}

@media (max-width: 70em) {
  .article {
    font-size: 1.1rem;
  }

  .section {
    background-size: 50%;
    background-position: center right;
  }
}

@media (max-width: 40em) {

  .section {
    background-size: 80%;
    background-position: center bottom;
  }

  .article {
    font-size: 0.95rem;
  }

}
