.section-full {
  background-size: cover!important;
  background-repeat: no-repeat;
  background-position: center!important;
}

.credit-article-dark {
  color: $white;
  font-size: .9rem;
  margin-top: 10px;

  a {
    color: $white;
    text-decoration: none;
    border-bottom: 1px solid $white;
  }

  a:hover {
    color: $lightgrey;
    border-bottom: 1px solid $lightgrey;
  }
}

@media (max-width: 70em) {

  .section-full {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media (max-width: 40em) {
  .credit-article-dark {
    font-size: .75rem;
  }

  .section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


}
