.howdo-article {
  border-bottom: 2px $midgrey solid;
  margin: 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;

  .heading-large {
    margin-top: 0;
  }
}

.article {
  font-size: 1.4rem;
  line-height: 1.6;
}

.wrapper {
  .heading-large {
    margin-top: 0;
  }
}

.section {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 70em) {
  .section {
    background-size: 60%;
    background-position: center bottom;
  }
}

@media (max-width: 40em) {

  .section {
    background-size: 100%;
    background-position: center bottom;
  }

  .article {
    font-size: 1.05rem;
  }

}
