.banner {
  background-color: $yellow;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;
  color: #000;

  .circle {
    z-index: 1;
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.62) 5px solid;
  }

  .banner-header {
    z-index: 2;
    font-size: 2rem;
    line-height: 4.5789474rem;
    margin: 1rem 0 0 0;
  }

  .banner-sub {
    z-index: 2;
    font-size: 4rem;
    line-height: 5rem;
    margin: 1rem 0 4rem 0;
  }
}



@media (max-width: 45em) {

  .banner {
    padding: 0 1.5rem;
  }

}
