.banner {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  border-bottom: 6px $red solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;

  .banner-header {
    font-family: "europa",sans-serif;
    font-size: 2rem;
    line-height: 4.5789474rem;
    margin: 1rem 0 0 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: -145px;
    top: -70px;
    z-index: 1;
    content: url('../images/logo.svg');
  }

  .logo-fade {
    opacity: 0;
  }

  .banner-sub {
    font-family: "europa",sans-serif;
    font-size: 4.4rem;
    line-height: 5.5rem;
    margin: 1rem 0 0 0;
    z-index: 2;
  }
}

.banner-small {
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  border-bottom: 6px $red solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;

  .banner-header {
    font-family: "europa",sans-serif;
    font-size: 2rem;
    line-height: 4.5789474rem;
    margin: 1rem 0 0 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    z-index: 2;
  }

  .banner-sub {
    font-family: "europa",sans-serif;
    font-size: 4.4rem;
    line-height: 0.5rem;
    margin: 1rem 0 0 0;
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: -145px;
    top: -70px;
    z-index: -1;
    content: url('../images/logo.svg');
  }

  .logo-fade {
    opacity: 0;
  }
}


@media (max-width: 45em) {

  .banner {
    padding: 0 1.5rem;

    .banner-header {
      font-size: 1.5rem;
      line-height: 4.5789474rem;
    }

    .banner-sub {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }
  }

  .banner-small {
    padding: 0 1.5rem;

    .banner-sub {
      font-size: 2.8rem;
      line-height: 0.5rem;
    }
  }

}
