body {
  font-family: 'helvetica neue', sans-serif;
}

main {
  margin: 0 4rem;
  padding: 2rem 0;
}

.body-section {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.4;
}

.no-margin {
  margin-top: 0.4rem;
}

@media (max-width: 45em) {

  main {
    margin: 0 1.5rem;
  }

}
