.button {
  background-color: $blue;
  font-weight: 700;
  font-family: "omnes-pro",sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0px 3px 0px darken( $blue, 18% );;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.6rem 1.4rem;
  display: inline-block;
  color: $black!important;
  border: 0!important;
  text-decoration: none!important;
}

.button-secondary {
    cursor: pointer;
    color: $darkgrey;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-family: "omnes-pro",sans-serif;
    white-space: nowrap;
    padding: 5px 10px;
    line-height: 1.6;
    border-radius: 1px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid $darkgrey;
}

a.button-secondary {
  text-decoration: none;
}

.button-secondary:hover {
  border: 2px solid $black;
  color: $black;
}

.button:hover {
  background: darken( $blue, 12% );
}

.image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 45em) {

  .button-secondary {
      font-size: 1.1rem;
      padding: 2px 7px;
      border: 2px solid $darkgrey;
  }

}
