.button {
  background-color: $blue;
  font-weight: 700;
  font-family: "omnes-pro",sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0px 3px 0px darken( $blue, 15% );;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.6rem 1.4rem;
  display: inline-block;
  color: $black!important;
  border: 0!important;
  text-decoration: none!important;
}

.start-button {
  background-color: $white;
  font-weight: 700;
  font-family: "omnes-pro",sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0px 3px 0px darken( $black, 15% );;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.6rem 1.4rem;
  display: inline-block;
  color: $black!important;
  border: 0!important;
  text-decoration: none!important;
}

.button:hover {
  background: darken( $blue, 15% );
}

.image {
  max-width: 100%;
  height: auto;
}
