footer {
  padding: 1rem 4rem;
  font-size: 1rem;
  line-height: 1.4;
  background-color: $greyblue;
  color: $lightgrey;

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  
}

.icons {
    display: flex;

    li {
      padding-right: 0.8rem;
    }
}

.copywrite {
  font-size: 0.8rem;
}

@media (max-width: 45em) {

  footer {
    padding: 0 1.5rem;
  }

}
