footer {
  font-size: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $blue;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }

  a:hover {
    color: $midgrey;
  }

  p.copywrite {
    padding-top: 1rem;
    font-size: .75rem;
  }
}
