.hero {
  background-color: $green;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 6rem;
  line-height: 1.2;
  margin: 0;
}

.intro {
  margin-top: auto;
  padding-bottom: 3rem;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 45em) {

  .main-header {
    font-size: 3rem;
  }

  .intro {
    p {
      font-size: 1.2rem;
    }
  }
}
