.hero {
  background-color: $pink;
  height: 70vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 5rem 0 3rem 0;

  img {
    height: 70px;
    width: auto;
  }
}

.header-svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.intro {
  padding-bottom: 3rem;
  font-family: "aktiv-grotesk",sans-serif;

  p {
    color: $black;
    line-height: 1.5;
    padding: 0.1rem 0;
    font-size: 1.5rem;
    display: inline;
  }
}

.stem {
  display: flex;
  justify-content: center;

  .stem-item {
    padding: 0 1.5rem;
  	position: relative;
    height: 30vh;
    width: 10vw;
  	overflow: hidden;
  }

  .stem-item:last-child {
    padding-right: 0;
    width: 8vw;
  }
}

@media (max-width: 900px) {
  .stem {
    .stem-item {
      width: 13vw;
      padding: 0 1.2rem;
    }

    .stem-item:last-child {
      width: 13vw;
      padding-right: 1.2rem;
    }
  }
}

@media (max-width: 700px) {
  .stem {
    .stem-item {
      width: 15vw;
      padding: 0 1.2rem;
    }

    .stem-item:last-child {
      width: 15vw;
      padding-right: 1.2rem;
    }
  }
}

@media (max-width: 640px) {
  .stem {
    .stem-item {
      width: 18vw;
      padding: 0 0.7rem;
    }

    .stem-item:last-child {
      width: 18vw;
      padding-right: 0.7rem;
    }
  }
}



@media (max-width: 53em) {

  .animation {
    width: 45vw;
  }

  .intro {
    padding-bottom: 2rem;

    p {
      font-size: 1.6rem;
    }
  }

}


@media (max-width: 40em) {

  .hero {
    align-items: center;
    height: 50vh;
  }

  .logo {
    padding: 3rem 0 1rem 0;

    img {
      height: 30px;
    }

  }

  .intro {
    padding-bottom: 2rem;
    padding-top: 1rem;

    p {
      font-size: 1.2rem;
    }
  }
}
