* {
  box-sizing: border-box;
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear:both;
}

.hidden {
  display: none;
}
.is-visible {
  display: block;
}
