header, .howdo-article {
  padding: 0 4rem;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem 2rem;
}

@media (max-width: 70em) {
  .wrapper {
    align-self: flex-start;
    flex-direction: column;
    padding: 5rem 2rem;
  }
}

@media (max-width: 45em) {

  header, .howdo-article {
    padding: 0 1.4rem;
  }

  .wrapper {
    align-self: flex-start;
    flex-direction: column;
    padding: 5rem 2rem;
  }
}
