header, .howdo-article, footer {
  padding: 0 4rem;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem 2rem;

  .credit {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 45em) {

  header, .howdo-article, footer {
    padding: 0 1.4rem;
  }

  .wrapper {
    flex-direction: column;
    align-self: flex-start;
    padding: 4.5rem 2rem;

    .credit {
      font-size: 0.9rem;
    }
  }
}
