.dark-theme {
  color: $white;
}

.full-page-image {
  background-size: cover;
  background-position: center;
}

.article-hero {
  height: 100vh;
  width: auto;
  margin-bottom: 6em;
}

.article-hero-basic {
  height: 80vh;
  width: auto;
}

.vh70, .vh80, .vh100, .vh120, .vh150 {
  width: auto;
  margin: 6em 0;
}

.vh70 {
  height: 70vh;
}

.vh80 {
  height: 80vh;
}

.vh100 {
  height: 100vh;
}

.vh120 {
  height: 120vh;
}

.vh150 {
  height: 150vh;
}

.dark-theme-footer {
  height: 100vh;
  background-color: #DDD;
}
