.dark-theme {
  color: $white;
}

.full-page-header {
  background-size: cover;
    background-position: center;
}

.vh100 {
  height: 100vh;
  width: auto;
}

.vh150 {
  height: 150vh;
  width: auto;
}

.dark-theme-footer {
  height: 100vh;
  background-color: #DDD;
}
