.logo-article {
  position: absolute;
  right: 0.7rem;
  padding: 1rem 1rem 0 0;
  z-index: 5;

  img {
    height: 80px;
    width: auto;
  }
}

.inpage-nav {
  z-index: 5;
  position: fixed;
  top: 1.8rem;
  left: 2.5rem;
  font-size: 1.1rem;


  .active {
    font-size: 1.25rem;
    font-weight: 700;
    transition: font 0.2s ease
  }

  ul {
    padding-left: 0;
    display: flex;
  }

  li {
    list-style: none;
    padding-bottom: 0.2rem;
  }

  li:after {
    content: "-";
    display: inline-block;
    margin-left: 0.3rem;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    font-size: 1.25rem;
    font-weight: 700;
    transition: font 0.2s ease
  }
}

.inpage-nav li:first-child {
  padding-bottom: 1rem;
  font-size: 0.9rem;

  a:hover {
    font-size: 0.9rem;
  }
}

.inpage-nav li:first-child::after {
  content: "";
  display: inline-block;
  margin-left: 0;
}

.mobile-nav {
  display: none;
}


@media (max-width: 75em) {
  .inpage-nav {
      display: none;
    }

    .mobile-nav {
      z-index: 5;
      display: flex;
      position: fixed;
      bottom: 0px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $black;
      }

      ul {
        padding-left: 1.8rem;
      }

      li {
        list-style: none;
        padding-bottom: 0.2rem;
        padding-right: 1.5rem;
        display: inline;
        color: $black;
      }

      #back::before {
        content: url('../images/arrow.svg');
        transform: rotate(90deg);
        display: inline-block;
        padding: 1px 11px 0px 15px;
      }

      #next::after {
        content: url('../images/arrow.svg');
        transform: rotate(270deg);
        display: inline-block;
        padding: 7px 15px 0px 5px;
      }
    }

}
