body {
  font-family: "aktiv-grotesk",sans-serif;
  font-weight: 300;
  line-height: 1.4;
  font-size: 22px;
  background-color: $white;
}

.heading-xlarge, .heading-large-article, .heading-large, .heading-medium, .main-header  {
  font-family: "omnes-pro",sans-serif;
  font-weight: 700;
}

.heading-large-article {
  font-size: 6rem;
  letter-spacing: 4px;
  line-height: 1.2;
  text-shadow: 6px 6px $white;
  margin-bottom: 2rem;
}

.heading-xlarge {
  font-size: 8rem;
}

.heading-large {
  font-size: 3rem;
}

.heading-medium {
  font-size: 2rem;
}

a {
  color: darken( $blue, 5% );
  text-decoration: none;
  border-bottom: 1px solid $blue;
}

a:hover {
  color: darken( $blue, 20% );
}

@media (max-width: 60em) {

  .heading-large-article {
    font-size: 5rem;
    letter-spacing: 4px;
    line-height: 1.2;
    text-shadow: 4px 4px $white;
  }

}

@media (max-width: 45em) {
  body {
    font-size: 17px;
  }

  .heading-large-article {
    font-size: 4rem;
    margin-top: 2rem;
    letter-spacing: 2px;
    text-shadow: 3px 3px $white;
  }

  .heading-xlarge {
    font-size: 3rem;
  }

  .heading-large {
    font-size: 2rem;
  }

  .heading-medium {
    font-size: 1.5rem;
  }
}
