body {
  font-family: "aktiv-grotesk-thin",sans-serif;
  font-weight: 100;
  line-height: 1.4;
  font-size: 22px;
}

.heading-xlarge, .heading-large-article, .heading-large, .heading-medium, .main-header  {
  font-family: "omnes-pro",sans-serif;
  font-weight: 700;
}

.heading-large-article {
  font-size: 7rem;
  letter-spacing: 5px;
  text-shadow: 6px 6px $white;
}

.heading-xlarge {
  font-size: 8rem;
}

.heading-large {
  font-size: 3rem;
}

.heading-medium {
  font-size: 2rem;
}

a {
  color: darken( $blue, 25% )
}

a:hover {
  color: darken( $blue, 40% )
}

@media (max-width: 45em) {
  body {
    font-size: 17px;
  }

  .heading-xlarge {
    font-size: 3rem;
  }

  .heading-large {
    font-size: 2rem;
  }

  .heading-medium {
    font-size: 1.5rem;
  }
}
